/* ================ Navbar header all three pages =========== */
.navbar {
  background: white;
  border-bottom: 2px solid grey;
  width: 100%;
  margin: 0;
  padding: 0;
}

#myName {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  float: left;
  width: 300px;
  height: 90px;
  font-weight: bold;
  text-align: center;
  color: white;
  line-height: 75px;
  background: #4aaaa5;
  margin-left: 50px;
  
 }
 
 .nav-link {
   text-align: center;
   margin: 25px 0;
   padding: 0;
   background: white;
   color: grey;
   border-left: 1px solid grey;
   display: inline-block;
   font-size: 20px;
 }

#contact {
  margin-right: 20px;
}

 /* Like this feature includes padding and border in total width & height NICE */
  * {
    box-sizing: border-box;
  }

  /* ============== About Me specifics =============== */

  /* for about me photo */
#about-image {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 20px 10px 0;
  clear: both;
}  

p {
  float: left;
  clear: both;
  word-wrap: normal;
  display: block;
}

#aboutContainer {
  width: 100%;
  max-width: 960px;
  margin: 30px 0 300px 50px;
  padding: 30px;
  background-color: white;
  clear: both;
}

  /* ============= portfolio  specifics =============== */

 #portContainer {
    width: 100%;
    max-width: 960px;
    margin: 30px 0 30px 50px;
    padding: 30px;
    background-color: white;
    clear: both;
  }


  /* ============= contact specifics ================== */

 #contactContainer {
  width: 100%;
  max-width: 960px;
  margin: 30px 0 180px 50px;
  padding: 30px;
  background-color: white;
  clear: both;
}
  
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  background: url("../images/concrete_seamless.png");
} 

hr {
  border-top-width: 3px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
  margin-top: 10px;
  font-size: 30px;
  box-sizing: border-box;
  background-color: #4aaaa5;
  color: white;
}

.row {
  width: 100%;
  padding: 30px;
  margin: 30px 0;   
  background: #ffffff;
}

.block {
 background-color: white;
 padding: 30px;
 max-width: 980px;
 }

.block-header {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 20px;
}

.btn-info {
  background-color: #4aaaa5;
}

footer {
  clear: both;
  padding: 30px 0;
  color: #ffffff;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  margin: auto;
}

/* ========== portfolio items ============*/
.port {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 20px;
}

.text-block {
  position: absolute;
  bottom: 40px;
  right: 15px;
  left: 15px;
  text-align: center;
  background-color: #4aaaa5;
  color: white;
  padding-left: 0;
  padding-right: 0;
}  

.img-responsive{
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

 /* contact page  */
article {
  max-width: 100%;
}

/* ======= breakpoint html page ======  */

/* this it the name in navbar only */
@media only screen and (max-width: 630px) {
  a #myName .navbar-brand {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 90px;
    max-width: 629px;
  }
}

/* this is the whole navbar */
@media only screen and (max-width:630px) {
 nav .navbar {
  word-wrap: break-word;
 } 
}

/* this is the 3 tabs on right of page */
@media only screen and (max-width: 630px) {
  div.collapse .navbar-collapse {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    max-width: 629px;
    border-collapse: separate;
    display: inline-block;
    clear: both;
    text-align: center;
    
  }
}

@media only screen and (max-width: 630px) {
  .navbar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    max-width: 630px;

    display: inline-block;
    clear: both;
    text-align: center;
    
  }
}
